.home-book-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-self: flex-start;
}

.ui.card {
  margin-top: 10px !important;
}